{% load static %}
<video poster="shttps://s3-us-west-2.amazonaws.com/s.cdpn.io/4273/fashion.jpg" playsinline autoplay muted loop>
    <source src="shttps://s3-us-west-2.amazonaws.com/s.cdpn.io/4273/fashion.webm" type="video/webm">
    <source src="{% static 'img/loves.mp4' %}" type="video/mp4">
</video>
<header>
    <nav>
        <a href="#">Inicio</a>
        <a href="anuncios/diseño">LAVADORAS</a>
        <a href="anuncios/profiles">FRIGORÍFICOS</a>
        <a href="anuncios/contacto">SECADORAS</a>
    </nav>
</header>
<div id="fashion">
    <h2 class="cabecera">Bienvenido</h2>
</div>
