{% load static %}
<footer class="footer-distributed">

	<div class="footer-left">
		 <!-- <h3><img class="logo" src="{% static 'img/logo_pixelblack_negativo.png' %}"></h3>-->
		<p class="footer-links">
			<a href="#" class="link-1">Inicio</a>
			<a href="#">Inicio</a>
			<a href="#">Portfolio</a>
			<a href="#">Noticias</a>
			<a href="#">Contacto</a>
		</p>
		<p class="footer-company-name">Manolo S.A. © 2021</p>
	</div>
	<div class="footer-center">
		<div>
			<i class="fa fa-map-marker"></i>
			<p><span>Calle domingo 11</span> 300002 Murcia (MURCIA)</p>
		</div>
		<div>
			<i class="fa fa-phone"></i>
			<p>+34 626264606</p>
		</div>
		<div>
			<i class="fa fa-envelope"></i>
			<p>manolo@satecnico.es</p>
		</div>
	</div>

	<div class="footer-right">
		<p class="footer-company-about">
			<span>Nuestra Sociedad</span>
			Satecnico S.A. es mos una empresa que se ha consolidado en la cima por ofrecer servicios de reparación de electrodomésticos con excelentes resultados.
		<div class="footer-icons">
			<a href="https://developers.facebook.com/"><i class="fa fa-facebook"></i></a>
			<a href="https://twitter.com/"><i class="fa fa-twitter"></i></a>
			<a href="https://www.linkedin.com/in/facebook"><i class="fa fa-linkedin"></i></a>
            <a href="https://github.com/><i class="fa fa-github"></i></a>		</div>
	</div>
</footer>