{% load static %}
<html>
  <head>
    <title>Estructura basica Semantica en HTML5 y CSS3</title>
    <meta charset="utf-8" />
    <link rel=StyleSheet href="{% static 'css/estilos.css' %}" type="text/css" media="screen">
  </head>
  <body>
    <h1>Estructura básica Semántica en HTML5 y CSS3</h1>
    <div class="content">
      
      <header>
        &lt;header&gt;
      </header>
      
      <nav>
        &lt;nav&gt;
      </nav>
      
      <section id="content">
        <section id="principal">
          &lt;section&gt;
          <article>
            &lt;article&gt;
          </article>
        </section>
        <aside>
          &lt;aside&gt;
        </aside>
      </section>
    
      <footer>
        &lt;footer&gt;
      </footer>
    </div>
  </body>
</html>


